html, body {
	margin: 0;
	height: 100%;
	font-family: 'Poiret One', Helvetica, Arial, sans-serif;
	background-color: white;
	background-size: cover;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

header {
	width: 100%;
	/*background-color: rgba(255,255,255,0.2);*/
	text-align: left;
	display: inline-block;
}

.social-icons-container {
	padding: 20px;

}

footer {
	width: 100%;
	background-color: rgba(255,255,255,0.3);
	float: left;
}

#wrapper {
	position: relative;
	display: block;
	padding: 0 80px 0 80px;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	padding-top: 50px;
}

.row {
	display: block;
	position: relative;
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.column {
	position: relative;
	float: left;

	padding: 0 20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.full-width {
	width: 100%;
}
.half-width {
	width: 50%;
}
.full-height {
	height: 100%;
}
.half-height {
	height: 50%;
}

#ytwrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.logo-wrapper {
	margin: 10px;
	display: inline-block;
	text-align: center;
}

.logo-wrapper img {
	width: 80%;
	max-width: 800px;
}

.footer-logo {
	position: relative;
	float: left;
	padding: 20px;
	margin-left: 20px;
}

.footer-logo img {
	width: 160px;
}

footer .social-icons-container {
	position: relative;
	float: right;
	margin-right: 20px;
}

@media (max-width: 864px) {
	#wrapper {
		margin-top: 40px;
		padding: 0 10px 0 10px;
	}

	.row {
		margin-bottom: 5px;
	}

	.column {
		padding: 10px 0;
	}

	.half-width {
		width: 100%;
	}

	#ytwrapper {
		width: 100%;
	}

	footer {
		text-align: center;
	}
	
	.logo-wrapper {
		margin: 5px;
	}	

	.footer-logo {
		display: none;
	}

	footer .social-icons-container {
		position: relative;
		margin: 0 auto;
		padding: 10px;
	}
}

.ytplayer {
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 30px; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
}

.ytplayer iframe,
.ytplayer object,
.ytplayer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.player {
	padding: 10px;
}

.box {
	width: 100%;
    background-color: white;
    overflow-y: hidden;
}

.shadow {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.transparent {
	background-color: transparent;
}

.black {
	background-color: black;
}

.title {
	display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 32px;
    color: black;
	font-weight: 300;
	z-index: 99;
}

.title a {
	color: white;
	text-decoration: none;
}