/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4 {
    font-family: $heading-font-family;
}

.logo-underline {
    border-bottom: 2px solid $brand-color;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/*
    frontpage header
*/
.frontpage-header-img {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 55%;
    figcaption {
        float: right;
        margin-right: 20px;
        font-size: $smaller-font-size;
        color: $grey-color-light;
        font-style: italic;
    }
    img {
        user-drag: none; 
        -moz-user-select: none;
        -webkit-user-drag: none;
    }
}

@media screen and (max-width: $mobile-width) {
    .frontpage-header-img {
        display: none;
    }
}

/*
    header
*/
.head-bg {
    ul {
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        margin-bottom: 0;
        z-index: 99;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        li {
            font-size: 18px;
            text-align: center;
            margin-right: 10px;
            a {
                color: $text-color !important;
                font-family: $heading-font-family;
                font-weight: $light-font-weight;
                &:hover {
                    text-decoration: none;
                    color: $white !important;
                }
                &:visited {
                }
            }
            text-decoration: none;
            display: inline-block;
        }
    }
}
/*
    article
*/
.article {
    color: $black;
    background-color: $white;
    font-size: $bigger-font-size;
    a {
        color: $black;
        &:hover {
            color: $black;
        }
        &:visited {
            color: $black;
        }
    }
    h1 {
        width: 100%;
        color: $brand-color;
        margin-bottom: 0px;
        font-size: 30px;
    }
    .tag {
        font-size: $base-font-size;
        color: $background-color;
        font-weight: $bold-font-weight;
        margin-bottom: 20px;
        padding-right: 10px;
        position: relative;
        display: inline-block;
    }
    header {
        background-size: contain;
        height: 400px;
    }
    article {
        margin-bottom: 80px;
        margin-top: 30px;
    }
    .head-bg {
        position: relative;

        display: block;
        background-color: $background-color;
    }
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

.header-1, .header-2 {
    font-size: $small-line-height;
    /*text-transform: uppercase;*/
}

.header-1 {
    font-weight: $light-font-weight;
}

.header-2 {
    font-weight: $base-font-weight;
}

.bio span {
    font-size: $small-line-height;
    font-weight: $base-font-weight;
}

#portfolio-header .header-1 {
    font-size: $big-line-height;
}

.techs {
    text-transform: uppercase;
    font-weight: $base-font-weight;
    /*color: #C62828;*/
    color: white;
    margin-left: 24px;
}

#contacts h1 {
    text-align: center;
    font-weight: $light-font-weight;
    color: $white;
}

article {
    p {
        img {
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;
        }
        em {
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: $small-font-size;
            margin-bottom: 20px;
        }
    }
}

/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;
    font-weight: $bold-font-weight;

    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

b {
    font-weight: $bold-font-weight;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
