.col {
	position: relative;
}

.content {
	box-sizing: border-box;
}

.portfolio-grid {
	box-sizing: border-box;
	height: 240px;
}

#weather-canvas {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: -1;
}

.top-pad {
	padding-top: 20px;
}

@media screen and (max-width: 767px) {
	.bio {
		width: 100%;
	}

	#header {
		min-height: 700px;
	}

	#contacts .contact-list li img {
		width: 48px;
	}

	#small-contacts .contact-list li img {
		width: 32px;
	}
}

@media screen and (min-width: 767px) {
	.bio {
		max-width: 500px;
	}

	#header {
		min-height: 600px;
	}

	.contact-list li img {
		width: 32px;
	}
}

.box-link {
	text-decoration: none;
}

#header {
	display: block;
	float: left;
	padding: 20px;
	z-index: 99;
}

#portfolio {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

#contacts {
	width: 100%;
	min-height: 500px;
	padding-top: 170px;
    background-color: $background-color;
}

.bio-content {
	a {
		text-decoration: underline;
	}
}

#article-header {
}

.contact-list {
	float: left;
	padding-left: 0;
}

#small-contacts {
	width: 100%;
	float: right;
	height: auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
    background-color: $background-color;
    box-shadow: 0 -1px -3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	.credits {
		color: $text-color;
		font-size: $small-font-size;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media all and (min-width: $mobile-width) {
	#small-contacts {
		.contact-list {
			float: right;
		}
	}
}

@media all and (max-width: $mobile-width) {
	.credits {
		width: 100%;
		font-size: 8px;
		text-align: center;
	}
	#small-contacts {
		text-align: center !important;
		.contact-list {
			display: inline-block;
			text-align: center;
			float: none;
		}
	}
}

#contacts {
	 .contact-list {
	 	z-index: 399;
		width: 100%;
		text-align: center;
		padding: 0;
		margin-bottom: 0;
	}
}

.contact-list li {
	display: inline-block;
}

.icon {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 5px;
	vertical-align: baseline;
	fill: $text-color;
}

#next-previous {
	figure {
		border: none;
		height: 300px;
    	background: $background-color;
		.bg {
		    position: relative;
		    display: block;
		    min-height: 100%;
			border-radius: 0;
			box-shadow: none;
			opacity: 0.5;
    		-webkit-transition: opacity 0.35s;
    		transition: opacity 0.35s;
		}
		h2 {
			font-size: 20px;
			margin-top: 65px;
			word-spacing: 0;
			text-transform: none;
			.work-title {
				font-size: 1.3em;
				font-weight: $base-font-weight;
			}
		}
		&:hover {
			background: $background-color;
			.bg {
    			opacity: 0.2;
			}
		}
		.arrow {
			display: block;
			height: 54px;
			position: absolute;
			top: 120px;
		}
		.arrow.left {
			left: 20%;
		}
		.arrow.right {
			right: 20%;
		}
		@media screen and (max-width: $mobile-width) {
			.arrow {
				display: none;
			}
		}
		figcaption {
			color: $text-color;
			a {
				color: $text-color;
				&:visited {
					color: $text-color;
				}
			}
		}
	}
	height: 300px;
}
