/*
    Portfolio works grid
*/

.grid figure {
    position: relative;
    overflow: hidden;
    /*background: #3085a3;*/
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    height: 240px;
    border: 10px solid $background-color;
}

.grid figure .bg {
    position: relative;
    display: block;
    opacity: 0.8;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media all and (max-width: $mobile-width) {
    .grid figure .bg {
        width: 100%;
    }
}

.grid figure figcaption {
    padding: 2em;
    color: $text-color;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 400;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
    background: $text-protection;
}

figure.effect-honey .bg {
    opacity: 0.8;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-honey:hover .bg {
    opacity: 0.5;
}

figure.effect-honey:hover {
    background: $brand-color;
}

figure.effect-honey figcaption::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: $brand-color;
    content: '';
    -webkit-transform: translate(0,10px);
    transform: translate(0,10px);
}

figure.effect-honey h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 1.5em;
    width: 100%;
    text-align: left;
    -webkit-transform: translate(0,-30px);
    transform: translate(0,-30px);
}

figure.effect-honey i {
    position: absolute;
    font-style: normal;
    bottom: 30px;
    right: 1em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate(0,30px);
    transform: translate(0,30px);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover i {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}