@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://use.typekit.net/pyb2jyf.css');

@media screen and (min-width: 729px) {
  .desktop-only {
  }
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 728px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
  }
}

/* STYLES */
:root {
  font-family: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;
  line-height: auto;
  font-weight: 450;

  color-scheme: light dark;
  color: #111;
  background-color: #FEFEFE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  font-size: 24px;
  font-weight: 450;
  line-height: 95%;
  text-transform: uppercase;
}

p.small {
  font-size: 16px;
  line-height: 100%;
}

p.big {
  font-size: 32px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 728px) {
  p.big {
    font-size: 34px;
  }

  p.small {
    line-height: 120%;
  }
}

.section-title {
  font-size: 16px;
  font-weight: 550;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title {
  font-size: 24px;
  font-weight: 450;
  line-height: 95%;
  text-transform: uppercase;
}

a {
  display: block;
  position: relative;
  font-weight: 450;
  font-size: 16px;
  line-height: 95%;
  border-bottom: 1px solid #111;
  padding-bottom: 4px;
  overflow: hidden;
  transition: border-color 400ms;
}

a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.5px;
	background-color: #111;
	transition: opacity 400ms, transform 400ms;
  opacity: 1;
	transform: translate3d(-100%, 0, 0);
}

a:hover {
  border-color: #FEFEFE;
}

a:hover::after,
a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 728px) {
  .title, p, a {
    font-size: 18px;
    line-height: 100%;
  }
}

/* LAYOUT */
.main__container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: scroll;
}

@media screen and (max-width: 728px) {
  .main__container {
    flex-direction: column;
    height: auto;
  }
}

.non-scrollable {
  overflow: hidden;
}

.content {
  flex: 5;
  padding: 40px;
}

.portfolio {
  flex: 6;
  padding: 40px;
}

@media screen and (max-width: 728px) {
  .content, .portfolio {
    padding: 24px;
    flex: 1;
  }
}

.portfolio {
  background-color: #F5F5F7;
}

/* CONTENT ROW */
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 728px) {
  .content {
    justify-content: flex-start;
    gap: 16px;
  }
}

.content .value-prop {
  max-width: 720px;
  margin-top: 24px;
}

@media screen and (max-width: 728px) {
  .content .value-prop {
    margin-top: 16px;
  }
}


.bottom-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (max-width: 728px) {
  .bottom-content {
    flex-direction: column-reverse;
  }
}

.content-paragraphs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  max-width: 480px;
  flex: 3;
}

.content-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  flex: 1;
}

@media screen and (max-width: 728px) {
  .content-links {
    margin-top: 16px;
  }
}

.content-links a {
  font-size: 16px;
}

.content-links img {
  margin-left: 2px;
  height: 12px;
}

/* PORTFOLIO ROW */
.portfolio {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  row-gap: 16px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.portfolio-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 728px) {
  .portfolio {
    flex-direction: column;
  }
  .portfolio-column {
    width: 100%;
  }
}

.portfolio-item {
  height: 320px;
  width: 320px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  aspect-ratio : 1 / 1;
}

.portfolio-column:nth-child(2) {
  margin-top: 40px;
}

@media screen and (max-width: 728px) {
  .portfolio-column:nth-child(2) {
    margin-top: 0;
  }
}

@media screen and (max-width: 728px) {
  .portfolio-item {
    aspect-ratio : 1 / 1;
    width: 100%;
    height: auto;
  }
}

.portfolio-panel {
  background-color: #111;
  padding: 24px;
  height: auto;
  margin-bottom: -166.39px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.portfolio-panel p, .portfolio-panel .portfolio-title, .portfolio-panel .portfolio-content  {
  color: #FEFEFE;
  font-size: 16px;
  margin-bottom: 4px;
  text-transform: uppercase;
  display: inline-block;
}

.portfolio-panel .portfolio-content {
  margin-bottom: 0;
}

.portfolio-panel .portfolio-title {
  font-weight: 550;
}

.portfolio-item .plus-icon {
  margin-bottom: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.portfolio-item .plus-icon:hover {
  transition: transform 400ms;
  transform: rotate(90deg) !important;
}

.portfolio-item .plus-icon.open-icon:hover {
  transform: rotate(45deg) !important;
}

.portfolio-panel-bottom {
  margin-top: 16px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.portfolio-panel-bottom .open-popup {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 2px;
}

/* POPUP */
.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 60%);
  z-index: 110;
}

.popup-panel {
  position: fixed;
  bottom: 0;
  width: auto;
  width: 728px;
  margin-left: 50%;
  left: -364px;
  padding: 40px;
  background-color: #FEFEFE;
  z-index: 111;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 2px 2px 0 0;
}

@media screen and (max-width: 728px) {
  .popup-panel {
    width: 100%;
    max-width: 100%;
    padding: 24px;
    left: 0;
    bottom: 0;
    margin-left: 0;
  }
}

.popup-panel .link-popup {
  width: fit-content;
}

.popup-panel .link-popup img {
  width: 12px;
  height: 12px;
}

.popup-panel p {
  line-height: 110%;
  letter-spacing: 0;
}