
/* Eric Meyer's Reset CSS */
/* v2.0 | 20110126 */
/* http://meyerweb.com/eric/tools/css/reset/ */

/* Reset all elements to their default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Reset some block elements to display as block */
body, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, dl, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  display: block;
}

/* Reset some inline elements to display as inline */
blockquote, q {
  quotes: none;
}

/* Reset some inline elements to be visually normal */
ins {
  text-decoration: none;
}

/* Reset lists to not have any bullet or numbering */
ul, ol {
  list-style: none;
}

/* Reset hyperlinks to not have any default styles */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Reset floated elements to not wrap around text */
/* and automatically clear after them */
/* (use additional clearfix techniques if needed) */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

html, body {
  height: 100%;
}
