/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap'); */

@import url('https://use.typekit.net/pyb2jyf.css');

html {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    background-color: #FEFEFE;
    min-height: 100vh;
}

.homepage {
    display: flex;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0px;
    /* grid-gap: 36px; */
    /* max-width: 790px; */
    margin: 0 auto;
    /* padding: 82px 90px 48px 90px;
    padding-top: 4%; */
    /* padding-right: 90px; */
}

.box-12 {
    grid-column: span 12;
}
.box-8 {
    grid-column: span 8;
}
.box-7 {
    grid-column: span 7;
}
.box-6 {
    grid-column: span 6;
}
.box-5 {
    grid-column: span 5;
}
.box-4 {
    grid-column: span 4;
}
.box-3 {
    grid-column: span 3;
}
.box-2 {
    grid-column: span 2;
}
.box-1 {
    grid-column: span 1;
}
@media screen and (max-width: 880px) {
    .homepage {
        height: auto;
        padding-bottom: 32px;
    }
    .grid {
        display: block;
        margin: 0;
        padding: 0;
    }
    .box-12, .box-6, .box-4, .box-3, .box-2 {
        margin: 0 0 32px 0;
    }

    .box {
        padding: 32px 0px 32px 0;
    }
}

/* TYPOGRAPHY */
hr {
    border-width: 0.5px;
    margin: 0;
}

a {
    color: #292929;
    font-weight: 400;
    font-style: italic;
    pointer-events: all;
}

a.no-italics {
    font-style: normal;
}

.main h1 {
    font-weight: 400;
    font-size: 5vw;
    line-height: 100%;
    max-width: 100%;
    margin: 0;
    letter-spacing: 0.2vw;
    margin: 0 0 0 0;
}

.main h4 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.6vw;
    padding: 0 0 26px;
    margin: 0px;
}

.main h3 {
    font-weight: 500;
    margin-top: 36px;
}

.title h4 {
    margin: 16px 0;
}

.main h4.subtitle {
    margin: 0px 0px 0px 24px;
    font-size: 20px;
    letter-spacing: 0.6vw;
    padding: 0px;
    font-weight: 500;
}

h3.no-top-margin {
    margin-top: 0;
}

.main p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    padding: 0 0 16px 0;
    letter-spacing: 0.05em;
    margin: 0;
}

.nav {
    display: inline;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    background: -webkit-linear-gradient(45deg,#48082E, #00586B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    width: max-content;
    font-style: normal;
    border-bottom: 1px solid #48082E;
}

/* mobile typography */
@media screen and (max-width: 880px) {
    .homepage {
        display: flex;
        align-items: flex-start;
    }

    .social-link {
        font-size: 20px;
    }
    .main h1 {
        display: inline;
        font-size: 36px;
        margin-bottom: 16px;
    }
    .main p {
        font-size: 20px;
    }
    .main h4 {
        font-size: 20px;
        letter-spacing: 0.4em;
        margin-top: 0px;
    }

    .main h4.subtitle {
        font-size: 20px;
        letter-spacing: 0.6em;
        font-weight: 400;
    }
}

.footer h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 16px 0;
}

/* BORDERS */
.border-bottom {
    border-bottom: 1px solid #292929;
}

.border-right {
    border-right: 1px solid #292929;
}

.border-top {
    border-top: 1px solid #292929;
}

/* PADDINGS */
.padding-left {
    padding-left: 90px;
}

.padding-right {
    padding-right: 90px;
}

.padding-content {
    padding: 32px;
}

.margin-right { 
    margin-right: 90px;
}
@media screen and (max-width: 880px) {
    .padding-left {
        padding-left: 0px;
    }
    
    .padding-right {
        padding-right: 0px;
    }

    .margin-right { 
        margin-right: 0px;
    }
}

/* HOME */
.home-main-grid {
    border-bottom: 1px solid #292929;
    border-top: 1px solid #292929;
}

.main.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-right: 1px solid #292929;

    padding: 32px;
}

.content-box-wrapper {
    padding-right: 90px;
    border-bottom: 1px solid #292929;
}

.content-box-wrapper:last-child {
    padding-right: 90px;
    border-bottom: none;
}


.content-box {
    border-right: 1px solid #292929;
    padding: 32px;
}

@media screen and (max-width: 880px) {
    .main.title {
        border-right: none;
        border-bottom: 1px solid #292929;
        padding: 32px;
        margin-bottom: 0px;
    }

    .main.content {
        margin: 0 32px;
        border-right: 1px solid #292929;
        border-left: 1px solid #292929;
    }

    .content-box-wrapper {
        padding-right: 0px;
    }

    .content-box {
        border-right: none;
    }

    .content-box-wrapper:last-child {
        padding-right: 0px;
        border-bottom: none;
    }
}

.main .subtitle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* CANVAS */
.canvas {
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .canvas {
        display: none;
    }
}
