/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap'); */

@import url('https://use.typekit.net/pyb2jyf.css');

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background-color: #FEFEFE;
    min-height: 100vh;
}

.homepage {
    display: flex;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 36px;
    /* max-width: 790px; */
    margin: 0 auto;
    padding: 82px 90px 48px 90px;
    padding-top: 4%;
}
.box-12 {
    grid-column: span 12;
}
.box-8 {
    grid-column: span 8;
}
.box-7 {
    grid-column: span 7;
}
.box-6 {
    grid-column: span 6;
}
.box-5 {
    grid-column: span 5;
}
.box-4 {
    grid-column: span 4;
}
.box-3 {
    grid-column: span 3;
}
.box-2 {
    grid-column: span 2;
}
.box-1 {
    grid-column: span 1;
}
@media screen and (max-width: 880px) {
    .grid {
        display: block;
        margin: 0 24px 16px;
        padding: 82px 16px 48px 16px;
        padding-top: 32px;
    }
    .box-12, .box-6, .box-4, .box-3, .box-2 {
        margin: 0 0 32px 0;
    }
}

hr {
    border-width: 0.5px;
    margin: 0;
}

a {
    color: #222222;
    font-weight: 400;
    font-style: italic;
}

a.no-italics {
    font-style: normal;
}

.main h1 {
    font-weight: 400;
    font-size: 5vw;
    line-height: normal;
    max-width: 100%;
    margin: 0;
    /*background: -webkit-linear-gradient(45deg,#48082E, #00586B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    width: max-content;*/
    margin: 0 0 0 0 !important;
}

.main h4 {
    font-weight: 400;
    font-size: 1vw;
    letter-spacing: 1vw;
    margin: 2vw 0 26px;
}

.main h3 {
    font-weight: 500;
    margin-top: 36px;
}

.title h4 {
    margin: 16px 0;
}

.main h4.subtitle {
    margin-top: 8px;
    font-size: 1vw;
    letter-spacing: 1.3vw;
}

h3.no-top-margin {
    margin-top: 0;
}

.main p {
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.2em;
    margin: 0 0 16px 0;
    letter-spacing: 0.05em;
}

.nav {
    display: inline;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
    margin: 0;
    background: -webkit-linear-gradient(45deg,#48082E, #00586B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    width: max-content;
    font-style: normal;
    border-bottom: 1px solid #48082E;
}

/* mobile */
@media screen and (max-width: 880px) {
    .homepage {
        display: flex;
        align-items: flex-start;
    }

    .social-link {
        font-size: 16px;
    }
    .main h1 {
        display: inline;
        font-size: 42px;
    }
    .main p {
        font-size: 16px;
    }
    .main h4 {
        font-size: 12px;
        letter-spacing: 12px;
        margin-top: 36px;
    }
    .main h4:first-child {
        margin-top: 36px;
    }

    .main h4.subtitle {
        margin-top: 8px;
        font-size: 12px;
        letter-spacing: 12px;
    }
}

.footer h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 16px 0;
}