/* .grid {
    grid-gap: 16px;
} */

@import url('https://use.typekit.net/pyb2jyf.css');

h1.work-header {
    margin: 24px 0 0 0;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

h3 {
    font-size: 32px;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
}

date {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 8px 0;
}

.work p {
    font-size: 26px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.work ol, .work ul {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0px;
}

caption {
    display: block;
    width: 100%;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.work h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    letter-spacing: -2%;
    text-transform: capitalize;
}

.work h4 a {
    text-decoration: underline;
    font-style: normal;
    font-weight: 600;
}

.right-align {
    text-align: right;
}

@media screen and (max-width: 880px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
        font-weight: 500;
        margin: 0 0 8px 0;
    }

    date {
        font-size: 18px;
    }

    .work p {
        font-size: 24px;
    }

    .work h4 {
        font-size: 20px;
        letter-spacing: -2%;
    }
}

img.case-study {
    width: 100%;
}

/* WORK CONTENT */

.title-wrapper {
    padding-left: 90px;
    padding-right: 90px;
}

.work .title-box {
    padding: 32px;
}

.work .subtitle-box {
    padding: 32px 0px 32px 32px;
    text-align: right;
}

.grid.work {
    position: relative;
}

.grid.work-border {
    border-bottom: 1px solid #292929;
}

.grid.work:last-child {
    /* border-bottom: 1px solid #292929; */
    /* padding-left: 90px; */
}

.work-main-grid {
    border-bottom: none;
}

.work-box {
    padding-left: 90px;
}

.work-image {
    border-right: 1px solid #292929;
    margin-right: 90px;
    padding: 32px;
}

.work-content-wrapper {
    padding: 32px;
}

.work-content-wrapper:last-child {
    border-right: 1px solid #292929;
}

@media screen and (max-width: 880px) {
    .title-wrapper {
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .work .title-box {
        padding: 0px;
        margin-bottom: 16px;
    }

    .work .subtitle-box {
        padding: 0;
        text-align: left;
        margin-bottom: 8px;
    }

    .grid.work-border {
        border-bottom: 1px solid #292929;
    }
    

    .grid.work:last-child {
        /* border-bottom: 1px solid #292929; */
        padding-left: 0px;
    }

    .work-box {
        padding-left: 0px;
        margin: 0 24px;
        /* border-right: 1px solid #292929; */
    }

    .work-image {
        border-right: none;
        margin-right: 0px;
        padding: 0 0 16px 0;
        margin-bottom: 0px;
    }

    .work-content-wrapper {
        padding: 32px 0px 0px 0px;
    }

    .work-content-wrapper:last-child {
        border-right: none;
    }
    
    .footer-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* PORTFOLIO */
.portfolio-content-wrapper {
    padding: 32px 120px;
}

.portfolio-content-wrapper p {
    max-width: 980px;
}

.portfolio-content-wrapper ol, .portfolio-content-wrapper ul {
    max-width: 940px;
}

.portfolio-content-wrapper h2 {
    margin-top: 64px;
    font-size: 48px;
}

.gatsby-resp-image-wrapper {
    margin-left: 0 !important;
}

.portfolio-content-wrapper figcaption p {
    font-size: 12px;
    margin-top: 0;
}

@media screen and (max-width: 880px) {
    .portfolio-content-wrapper {
        padding: 32px;
    }

    .portfolio-content-wrapper p, .portfolio-content-wrapper ol, .portfolio-content-wrapper ul {
        max-width: 100%;
    }

    .portfolio-content-wrapper h2 {
        margin-top: 32px;
        font-size: 32px;
    }
}
