.grid {
    grid-gap: 16px;
}

h1.work-header {
    margin: 24px 0 0 0;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

date {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 8px 0;
}

.work p {
    font-size: 20px;
    line-height: normal;
    font-weight: 400;
    line-height: 1.4em;
}

@media screen and (max-width: 880px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
        font-weight: 500;
        margin: 0 0 8px 0;
    }

    date {
        font-size: 18px;
    }

    .work p {
        font-size: 22px;
    }
}