/* .grid {
    grid-gap: 16px;
} */

@import url('https://use.typekit.net/pyb2jyf.css');

h1.work-header {
    margin: 24px 0 0 0;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

date {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 8px 0;
}

.work p {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 1px;
}

caption {
    display: block;
    width: 100%;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.work h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 8px;
}

.work h4 a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
}

.right-align {
    text-align: right;
}

@media screen and (max-width: 880px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
        font-weight: 500;
        margin: 0 0 8px 0;
    }

    date {
        font-size: 18px;
    }

    .work p {
        font-size: 16px;
    }

    .work h4 {
        font-size: 12px;
        letter-spacing: 12px;
        margin-top: 36px;
    }
}

img.case-study {
    width: 100%;
}